{% extends 'employees/base.html' %}

{% block title %} Welcome To Class Base View CURD Operations{% endblock %}

{% block body %}
<style>

</style>


<div class="container">

    {% if form %}
   <form method="POST">
       {% csrf_token %}
        <table>
      {{ form.as_p }}
    </table>
        <input type="submit" value="Create" class="btn btn-success "
            style="margin-left: 110px;" >


   </form>

    {% else %}
    <h1>Data Not Avalaible</h1>
    {% endif %}

    <br><br>
    <a href="{% url 'employee' %}" class="btn btn-primary">Home Page</a>

</div>

{% endblock %}